!/.gitignore
!*.pro
!*.pri
!*.bat
!/common-src/
!/vsedit/src/
!/vsedit-job-server/src/
!/vsedit-job-server-watcher/src/
!/resources/
!/BUILDING
!/CHANGELOG
!/LICENSE
!/README
!/TODO.txt
build
pro/*/*.rc
pro/*/Makefile.Release
pro/*/Makefile.Debug
pro/*/Makefile
pro/*/*.cpp
pro/dist
pro/.qmake.stash
pro/Makefile
pro/local_quirks.pri
*/generated