!/.gitignore
!*.pro
!*.pri
!*.bat
!/resources/
!/BUILDING
!/CHANGELOG
!/LICENSE
!/README
build
pro/*.rc
pro/Makefile.Release
pro/Makefile.Debug
pro/Makefile
pro/*.cpp
pro/dist
pro/.qmake.stash
pro/Makefile
pro/local_quirks.pri
*/generated